@import "styles/config/config.scss";

.info-header {
  //   @include showBorder(black);
  @include flex(center, center, column);
  width: 1300px;
  margin: 2em auto 0;

  @include respondMax(mobile) {
    width: 95%;
    height: auto;
    margin: 1em auto 0;
  }
  .box-1 {
    @include showBorder(transparent);
    width: 90%;
    height: 65px;
    border-radius: 50px 50px 0px 0px;
    background: radial-gradient(
      72.09% 29911.43% at 23.6% 49.23%,
      rgba(17, 0, 216, 0.83) 0%,
      rgba(150, 0, 0, 0.908802) 26.99%,
      #a2004b 57.28%,
      #b200b6 100%
    );
    @include respondMax(mobile) {
      width: 90%;
      height: 20px;
      border-radius: 15.05px 15.05px 0px 0px;
    }
  }
  .box-2 {
    @include showBorder(transparent);
    @include flex(center, center, row);
    width: 90%;
    height: 118px;
    border-radius: 0px 0px 50px 50px;
    background: rgba(33, 27, 27, 0.2);
    background-blend-mode: overlay;
    backdrop-filter: opacity(0.4);

    @include respondMax(mobile) {
      width: 90%;
      height: 35px;
      border-radius: 0px 0px 15.05px 15.05px;
    }
    span {
      font-family: "Monda";
      font-style: normal;
      font-weight: 700;
      font-size: 2em;
      letter-spacing: -0.01em;
      text-align: center;
      color: #ffffff;

      @include respondMax(mobile) {
        font-size: 10px;
        letter-spacing: -0.02em;
      }
    }
  }
}
