@import "styles/config/config.scss";

.sent-notif {
  // @include showBorder;
  position: absolute;
  @include flex();
  top: 200px;
  left: 25%;
  width: 600px;
  height: 550px;
  margin: 1em auto;

  @include respondMax(mobile) {
    width: 90%;
    height: 400px;
    top: 100px;
    left: 5%;
  }

  .notif-container {
    position: absolute;
    @include flex();
    // @include showBorder;
    width: 95%;
    height: 100%;
    border-radius: 20px;
    z-index: 300;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: transform 300ms cubic-bezier(0.57, 0.21, 0.69, 1.25);

    &.sent {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }
  }

  .sent-circle {
    @include flex();
    position: absolute;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;

    @include respondMax(mobile) {
      width: 220px;
      height: 220px;
      top: 50px;
    }

    .mark-icon {
      position: absolute;
      width: 150px;
      height: 150px;
      border: none;
      color: white;

      @include respondMax(mobile) {
        width: 100px;
        height: 100px;
      }
    }

    .mail-icon {
      // @include showBorder;
      position: absolute;
      right: -70px;
      bottom: -30px;
      width: 240px;
      height: 240px;
      background-image: url("../../../assets/images/send/mailicon.png");
      background-position: cover;
      background-size: contain;
      background-repeat: no-repeat;

      @include respondMax(mobile) {
        width: 150px;
        height: 150px;
        margin: auto;
        right: -25px;
        bottom: -10px;
      }
    }
  }

  .sent-message {
    // @include showBorder;
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 41px;
    letter-spacing: -0.01em;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

    @include respondMax(mobile) {
      font-size: 32px;
      bottom: 30px;
    }
  }
}
