@import "styles/config/config.scss";

main {
  width: 100%;
  height: 900px;
  margin: 1em 0 0em;
  box-sizing: border-box;
  transition: all 1.5s ease-in-out;
  // @include showBorder($color: black);
}

.hero {
  @include flex($justify: space-evenly);
  width: 100%;
  height: max-content;
  margin: auto;
  box-sizing: border-box;
  // @include showBorder($color: black);

  @include respondMax(lg-tablet) {
    @include flex($justify: center, $align: column);
    width: 100%;
  }
}

.hero_texts {
  // @include showBorder($color: black);
  width: 30%;
  @include flex($flex: column, $align: flex-start, $justify: space-around);
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;

  @include respondMax(lg-tablet) {
    width: 100%;
    @include flex($flex: column, $align: center, $justify: space-around);
    box-sizing: border-box;
    position: static;
    box-sizing: border-box;
  }

  .first,
  .second,
  .third {
    width: 100%;
    color: #f1f1f1;
  }

  .first {
    // @include showBorder($color: black);
    height: 400px;

    @include respondMax(lg-tablet) {
      width: 100%;
      height: auto;
      // @include showBorder($color: black);
      @include flex($flex: row, $align: center, $justify: center);
      box-sizing: border-box;
      position: static;
      box-sizing: border-box;
    }

    span {
      width: 100%;
      position: relative;

      @include respondMax(lg-tablet) {
        width: max-content;
        box-sizing: border-box;
        position: static;
        margin: 0 5px;
        box-sizing: border-box;
      }

      &:first-of-type {
        font-style: normal;
        font-family: "Noto Serif Thai", serif;
        font-weight: 700;
        font-size: 77px;
        letter-spacing: 0px;

        @include respondMax(lg-tablet) {
          font-size: 50px;
          letter-spacing: inherit;
        }

        @include respondMax(mobile) {
          font-size: 25px;
          letter-spacing: inherit;
        }
      }
      &:nth-of-type(2n) {
        font-style: normal;
        font-weight: 900;
        font-size: 100px;
        font-family: "Press Start 2P";
        letter-spacing: -7px;
        top: -30px;

        @include respondMax(lg-tablet) {
          font-size: 70px;
          position: relative;
          letter-spacing: inherit;
          top: -7px;
        }

        @include respondMax(mobile) {
          font-size: 50px;
          position: relative;
          letter-spacing: inherit;
          top: -7px;
        }
      }

      &:nth-of-type(3n) {
        font-style: normal;
        font-weight: 400;
        font-family: "Noto Serif Thai", serif;
        font-size: 67px;
        letter-spacing: 0px;
        top: -60px;
        right: 10px;

        @include respondMax(lg-tablet) {
          font-size: 50px;
          letter-spacing: inherit;
        }

        @include respondMax(mobile) {
          font-size: 25px;
          letter-spacing: inherit;
        }
      }
    }
  }
  .second {
    // @include showBorder($color: black);
    position: relative;
    top: -80px;

    @include respondMax(lg-tablet) {
      width: 100%;
      height: auto;
      // @include showBorder($color: black);
      @include flex($flex: column wrap, $align: center, $justify: center);
      box-sizing: border-box;
      position: static;
      margin: 28em auto 0;
      box-sizing: border-box;

      br {
        display: none;
      }
    }

    @include respondMax(mobile) {
      width: 100%;
      height: auto;
      // @include showBorder($color: black);
      @include flex($flex: column wrap, $align: center, $justify: center);
      box-sizing: border-box;
      position: static;
      margin: 20em auto 0;
      box-sizing: border-box;

      br {
        display: none;
      }
    }

    span {
      width: 100%;
      position: relative;
      font-family: "Caveat Brush";

      @include respondMax(lg-tablet) {
        width: max-content;
        position: static;
      }

      &:first-of-type {
        font-style: normal;
        font-weight: 600;
        font-size: 67px;
        letter-spacing: -0.045em;

        @include respondMax(lg-tablet) {
          font-size: 40px;
        }

        @include respondMax(mobile) {
          font-size: 30px;
        }
      }
      &:nth-of-type(2n) {
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        letter-spacing: -0.01em;
        top: -15px;

        @include respondMax(lg-tablet) {
          font-size: 40px;
        }

        @include respondMax(mobile) {
          font-size: 21px;
        }
      }
    }
  }

  .third {
    // @include showBorder($color: black);
    position: relative;
    top: -30px;

    @include respondMax(lg-tablet) {
      width: 100%;
      height: auto;
      // @include showBorder($color: black);
      @include flex($flex: row wrap, $align: center, $justify: center);
      box-sizing: border-box;
      position: static;
      box-sizing: border-box;

      br {
        display: none;
      }
    }

    span {
      width: 100%;
      // @include showBorder($color: black);
      position: relative;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      font-family: "Caveat Brush";
      line-height: 69px;
      letter-spacing: -0.045em;

      @include respondMax(lg-tablet) {
        font-size: 25px;
        width: max-content;
        position: static;
        margin: 0 2px;
        line-height: inherit;
      }

      @include respondMax(mobile) {
        font-size: 16px;
        width: max-content;
        position: static;
        margin: 0 2px;
        line-height: inherit;
      }

      &:nth-of-type(2n) {
        top: -25px;
      }
    }
  }
}

.mint-claim_btn {
  // @include showBorder($color: black);
  width: 55%;
  margin: 0 0 0 4em;
  padding: 5px;
  box-sizing: border-box;

  @include respondMax(lg-tablet) {
    @include flex($align: center, $justify: space-evenly);
    width: 100%;
    margin: 2em auto 0;
    padding: 5px;
  }

  @include respondMax(mobile) {
    @include flex($align: center, $justify: space-evenly);
    width: 70%;
    margin: 1em auto 0;
    padding: 5px;
  }

  button {
    width: 200px;
    height: 80px;
    margin: 0 0.5em;
    border-radius: 23px;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: -0.01em;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background: #575757;
    border: 1px solid transparent;

    @include respondMax(lg-tablet) {
      width: 25%;
      height: 50px;
      font-size: 20px;
      border-radius: 8px;
      letter-spacing: 1px;
    }

    @include respondMax(mobile) {
      width: 40%;
      height: 40px;
      font-size: 18px;
      border-radius: 8px;
      letter-spacing: 1px;
    }

    &:first-of-type {
      margin: 0 0;
      text-shadow: 0px 1.83514px 1.83514px rgba(0, 0, 0, 0.25);
      transition: all 0.5s ease-in-out;
      &:hover {
        background-color: inherit;
        transform: scale(1.1);
      }
    }
    &:nth-of-type(2n) {
      background-color: inherit;
      border-width: 3px;
      text-shadow: 0px 1.83514px 1.83514px rgba(0, 0, 0, 0.25);
      transition: all 0.5s ease-in-out;

      &:hover {
        border: 1px solid transparent;
        transform: scale(1.1);
        color: rgba(218, 218, 218, 0.73);
      }

      @include respondMax(lg-tablet) {
        color: rgba(155, 155, 155, 0.41);
      }
    }
  }
}

.unpack {
  border: 1px solid white;
  // box-shadow: 0px 0px 90px 30px;
  @include flex;
  width: 30%;
  height: 50px;
  margin: 3em auto 20px;
  border-radius: 40px;
  font-family: "Monda";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
}
