@import "../../styles/config/config.scss";

main {
  width: 100%;
  margin: 1em 0 0;
  box-sizing: border-box;

  @include respondMax(mobile) {
  }
}

.color_one {
  position: absolute;
  width: 208px;
  height: 175px;
  border-radius: 50%;
  left: 463px;
  top: 170px;
  background: $color-page-100;
  filter: blur(120px);

  @include respondMax(mobile) {
    display: none;
  }
}

.color_two {
  position: absolute;
  width: 208px;
  height: 175px;
  border-radius: 50%;
  left: 112px;
  top: 465px;
  background: $color-page-200;
  filter: blur(140px);

  @include respondMax(mobile) {
    display: none;
  }
}

.color_three {
  position: absolute;
  width: 286px;
  height: 198px;
  border-radius: 50%;
  left: 250px;
  top: 800px;
  background: $color-page-300;
  filter: blur(140px);

  @include respondMax(mobile) {
    display: none;
  }
}

.hero {
  @include flex($justify: center);
  width: 95%;
  margin: auto;
  box-sizing: border-box;
  // @include showBorder($color: black);

  @include respondMax(lg-tablet) {
    @include flex($justify: center, $align: column);
    width: 100%;
  }
}

.hero_texts {
  // @include showBorder($color: black);
  width: 50%;
  @include flex($flex: column, $align: flex-start, $justify: space-around);
  box-sizing: border-box;
  position: relative;
  top: -100px;
  box-sizing: border-box;

  @include respondMax(lg-tablet) {
    width: 100%;
    @include flex($flex: column, $align: center, $justify: space-around);
    box-sizing: border-box;
    position: static;
    box-sizing: border-box;
  }

  .first,
  .second,
  .third {
    width: 100%;
    color: #f1f1f1;
  }

  .first {
    // @include showBorder($color: black);
    height: 400px;

    @include respondMax(lg-tablet) {
      width: 100%;
      height: auto;
      // @include showBorder($color: black);
      @include flex($flex: row, $align: center, $justify: center);
      box-sizing: border-box;
      position: static;
      box-sizing: border-box;
    }

    span {
      width: 100%;
      position: relative;

      @include respondMax(lg-tablet) {
        width: max-content;
        box-sizing: border-box;
        position: static;
        margin: 0 5px;
        box-sizing: border-box;
      }

      &:first-of-type {
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        letter-spacing: 3px;

        @include respondMax(lg-tablet) {
          font-size: 50px;
          letter-spacing: inherit;
        }

        @include respondMax(mobile) {
          font-size: 25px;
          letter-spacing: inherit;
        }
      }
      &:nth-of-type(2n) {
        font-style: normal;
        font-weight: 900;
        font-size: 140px;
        letter-spacing: 3px;
        top: -60px;

        @include respondMax(lg-tablet) {
          font-size: 70px;
          position: relative;
          letter-spacing: inherit;
          top: -7px;
        }

        @include respondMax(mobile) {
          font-size: 50px;
          position: relative;
          letter-spacing: inherit;
          top: -7px;
        }
      }

      &:nth-of-type(3n) {
        font-style: normal;
        font-weight: 400;
        font-size: 92.5078px;
        letter-spacing: 2px;
        top: -105px;

        @include respondMax(lg-tablet) {
          font-size: 50px;
          letter-spacing: inherit;
        }

        @include respondMax(mobile) {
          font-size: 25px;
          letter-spacing: inherit;
        }
      }
    }
  }
  .second {
    // @include showBorder($color: black);
    position: relative;

    @include respondMax(lg-tablet) {
      width: 100%;
      height: auto;
      // @include showBorder($color: black);
      @include flex($flex: column wrap, $align: center, $justify: center);
      box-sizing: border-box;
      position: static;
      margin: 30em auto 0;
      box-sizing: border-box;

      br {
        display: none;
      }
    }

    @include respondMax(mobile) {
      width: 100%;
      height: auto;
      // @include showBorder($color: black);
      @include flex($flex: column wrap, $align: center, $justify: center);
      box-sizing: border-box;
      position: static;
      margin: 23em auto 0;
      box-sizing: border-box;

      br {
        display: none;
      }
    }

    span {
      width: 100%;
      position: relative;

      @include respondMax(lg-tablet) {
        width: max-content;
        position: static;
      }

      &:first-of-type {
        font-style: normal;
        font-weight: 600;
        font-size: 67.6587px;
        letter-spacing: -0.045em;

        @include respondMax(lg-tablet) {
          font-size: 40px;
        }

        @include respondMax(mobile) {
          font-size: 30px;
        }
      }
      &:nth-of-type(2n) {
        font-style: normal;
        font-weight: 400;
        font-size: 47.794px;
        letter-spacing: -0.01em;
        top: -15px;

        @include respondMax(lg-tablet) {
          font-size: 40px;
        }

        @include respondMax(mobile) {
          font-size: 21px;
        }
      }
    }
  }

  .third {
    // @include showBorder($color: black);
    position: relative;
    top: 10px;

    @include respondMax(lg-tablet) {
      width: 100%;
      height: auto;
      // @include showBorder($color: black);
      @include flex($flex: row wrap, $align: center, $justify: center);
      box-sizing: border-box;
      position: static;
      box-sizing: border-box;

      br {
        display: none;
      }
    }

    span {
      width: 100%;
      // @include showBorder($color: black);
      position: relative;
      font-style: normal;
      font-weight: 500;
      font-size: 41.2466px;
      line-height: 69px;
      letter-spacing: -0.045em;

      @include respondMax(lg-tablet) {
        font-size: 25px;
        width: max-content;
        position: static;
        margin: 0 2px;
        line-height: inherit;
      }

      @include respondMax(mobile) {
        font-size: 16px;
        width: max-content;
        position: static;
        margin: 0 2px;
        line-height: inherit;
      }

      &:nth-of-type(2n) {
        top: -25px;
      }
    }
  }
}

.hero_image {
  // @include showBorder($color: black);
  width: 50%;
  height: 1000px;
  @include flex($align: center, $justify: center);
  box-sizing: border-box;

  @include respondMax(lg-tablet) {
    position: absolute;
    top: 150px;
    right: 120px;
    width: 90%;
    height: 400px;
  }

  @include respondMax(mobile) {
    position: absolute;
    top: 120px;
    right: 30px;
    width: 90%;
    height: 400px;
  }

  img {
    // @include showBorder();
    position: absolute;
    width: 950px;
    height: 1000px;
    right: 0px;
    top: 0px;
    box-sizing: border-box;

    @include respondMax(lg-tablet) {
      top: 0px;
      right: 50px;
      width: 90%;
      height: 500px;
    }

    @include respondMax(mobile) {
      top: 0px;
      right: 50px;
      width: 90%;
      height: 400px;
    }
  }

  .img_shadow {
    background: rgba(217, 217, 217, 0.1);
    position: absolute;
    width: 610px;
    height: 100px;
    top: 950px;
    height: 26px;
    border-radius: 70%;

    @include respondMax(lg-tablet) {
      position: absolute;
      width: 450px;
      height: 10px;
      top: 490px;
      right: 40px;
    }

    @include respondMax(mobile) {
      position: absolute;
      width: 200px;
      height: 8px;
      top: 370px;
      right: auto;
    }
  }
}

.mint-claim_btn {
  // @include showBorder($color: black);
  width: 55%;
  margin: 0 0 0 2em;
  padding: 5px;
  box-sizing: border-box;

  @include respondMax(lg-tablet) {
    @include flex($align: center, $justify: space-evenly);
    width: 100%;
    margin: 2em auto 0;
    padding: 5px;
  }

  @include respondMax(mobile) {
    @include flex($align: center, $justify: space-evenly);
    width: 70%;
    margin: 1em auto 0;
    padding: 5px;
  }

  button {
    width: 200px;
    height: 80px;
    margin: 0 0.5em;
    border-radius: 23px;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: -0.01em;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background: #575757;
    border: 1px solid transparent;

    @include respondMax(lg-tablet) {
      width: 25%;
      height: 50px;
      font-size: 20px;
      border-radius: 8px;
      letter-spacing: 1px;
    }

    @include respondMax(mobile) {
      width: 40%;
      height: 40px;
      font-size: 18px;
      border-radius: 8px;
      letter-spacing: 1px;
    }

    &:first-of-type {
      margin: 0 0;
      text-shadow: 0px 1.83514px 1.83514px rgba(0, 0, 0, 0.25);
    }
    &:nth-of-type(2n) {
      background-color: inherit;
      color: rgba(218, 218, 218, 0.73);
      border: 2px solid rgba(255, 255, 255, 0.6);
      text-shadow: 0px 1.83514px 1.83514px rgba(0, 0, 0, 0.25);

      @include respondMax(lg-tablet) {
        color: rgba(155, 155, 155, 0.41);
      }
    }
  }
}

.newsletter {
  // @include showBorder($color: black);
  width: 55%;
  margin: 10em 0 0 2em;
  padding: 5px;
  box-sizing: border-box;

  @include respondMax(lg-tablet) {
    width: 70%;
    margin: 3em auto 0;
  }

  @include respondMax(mobile) {
    width: 90%;
    margin: 3em auto 0;
  }

  .text {
    // @include showBorder($color: black);
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -0.045em;
    color: white;

    @include respondMax(lg-tablet) {
      font-size: 18px;
      letter-spacing: inherit;
      text-align: center;

      br {
        display: none;
      }
    }

    @include respondMax(mobile) {
      font-size: 15px;
      letter-spacing: inherit;
      text-align: center;

      br {
        display: none;
      }
    }
  }

  form {
    // @include showBorder($color: black);
    margin: 10px 0 0;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;

    @include respondMax(lg-tablet) {
      @include flex($align: center, $justify: space-evenly, $flex: column);
      // @include showBorder($color: black);
      height: max-content;
    }

    input {
      // @include showBorder($color: black);
      width: 60%;
      height: 69px;
      outline: none;
      padding: 0 0 0 20px;
      font-weight: 400;
      font-size: 23px;
      letter-spacing: -0.045em;
      border-radius: 15px;
      box-sizing: border-box;

      @include respondMax(lg-tablet) {
        @include showBorder(#9d9d9d);
        background: #252525;
        color: #959292;
        font-size: 15px;
        width: 60%;
        height: 35px;
        border-radius: 10px;
      }

      @include respondMax(mobile) {
        @include showBorder(#9d9d9d);
        background: #252525;
        color: #959292;
        font-size: 15px;
        width: 80%;
        height: 35px;
        border-radius: 10px;
      }
    }

    button {
      // @include showBorder($color: white);
      background-color: black;
      outline: none;
      color: white;
      border: 1px solid white;
      width: 60%;
      height: 69px;
      padding: 0 5px;
      margin: 0.7em 0 0;
      font-weight: 500;
      font-size: 35px;
      letter-spacing: -0.045em;
      text-align: center;
      border-radius: 15px;
      cursor: pointer;
      box-sizing: border-box;

      @include respondMax(lg-tablet) {
        font-size: 15px;
        width: 60%;
        height: 35px;
        margin: 0;
        border-radius: 10px;
      }

      @include respondMax(mobile) {
        font-size: 15px;
        width: 80%;
        height: 35px;
        margin: 0;
        border-radius: 10px;
      }
    }
  }
}
