@import "styles/config/config.scss";

.blank_card {
  @include flex(center, center, column);
  width: 277px;
  height: 354px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;

  @include respondMax(mobile) {
    width: 234px;
    height: 299px;
    background: transparent;
  }

  .blank_card-image {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0px 0px 10px 2px white;
  }

  .user-name_image {
    position: absolute;
    top: 80px;
    @include flex();
    // @include showBorder(white);
    width: 120px;
    height: 140px;
    border-radius: 10px;
    box-sizing: border-box;

    @include respondMax(mobile) {
      top: 58px;
      width: 110px;
      height: 130px;
    }

    img {
      // @include showBorder;
      position: absolute;
      width: 95%;
      height: 95%;
      font-size: 10px;
      border-radius: 10px;
    }

    .name {
      // @include showBorder(white);
      color: white;
      font-weight: 700;
      font-size: 1.2em;
      width: max-content;
      height: max-content;
      font-size: 11px;
      z-index: 5;
      position: absolute;
      bottom: 5px;
    }
  }
}

.greeting {
  // @include showBorder(white);
  @include flex();
  position: absolute;
  bottom: 95px;
  width: max-content;
  font-size: 18px;
  font-family: "Benne", serif;
  height: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  color: white;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
  @include respondMax(mobile) {
    font-size: 18px;
    letter-spacing: inherit;
    bottom: 70px;
  }
}

.eth-number_container {
  border: 2px solid white;
  @include flex(center, center, row nowrap);
  width: 80px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 290px;
  z-index: 100;
  box-sizing: border-box;

  @include respondMax(mobile) {
    border: 2px solid white;
    top: 240px;
  }

  span {
    @include flex;
    color: white;
    background-color: black;
    border: none;
    width: 70%;
    padding: 0 0 0 5px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    font-size: 11px;
    box-sizing: border-box;
  }

  .eth-logo {
    display: none;
    width: 30%;
    height: 100%;
    @include flex;
    border-right: 2px solid white;
    cursor: pointer;
    // @include showBorder;
  }
}
