@import "styles/config/config.scss";

.blank_card {
  @include flex(center, center, column);
  width: 277px;
  height: 354px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;

  @include respondMax(mobile) {
    width: 234px;
    height: 299px;
    background: transparent;
  }

  .blank_card-image {
    width: 100%;
    height: 100%;
    position: relative;
    // box-shadow: 0px 0px 10px 2px white;
  }

  .user-name_image {
    position: absolute;
    top: 80px;
    @include flex();
    // @include showBorder(white);
    width: 120px;
    height: 140px;
    border-radius: 10px;
    box-sizing: border-box;

    @include respondMax(mobile) {
      top: 58px;
      width: 110px;
      height: 130px;
    }

    img {
      // @include showBorder;
      position: absolute;
      width: 95%;
      height: 95%;
      font-size: 10px;
      border-radius: 10px;
    }

    .name {
      // @include showBorder(white);
      color: white;
      font-weight: 700;
      font-size: 1.2em;
      width: max-content;
      height: max-content;
      font-size: 11px;
      z-index: 5;
      position: absolute;
      bottom: 5px;
    }
  }
}

.greeting {
  // @include showBorder(white);
  @include flex(center, center, row nowrap);
  position: absolute;
  bottom: 65px;
  width: 250px;
  font-size: 28px;
  font-family: 'Caveat Brush';
  height: max-content;
  font-weight: 800;
  letter-spacing: 1px;
  text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
  @include respondMax(mobile) {
    font-size: 18px;
    letter-spacing: inherit;
    bottom: 70px;
  }
}

.barcode {
  height: 25px;
}