@import "styles/config/config.scss";

.blank_card {
  @include flex(center, center, column);
  width: 373px;
  height: 475px;
  background: black;
  border: none;
  cursor: pointer;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .user-name_image {
    position: absolute;
    top: 110px;
    @include flex();
    @include showBorder(white);
    width: 150px;
    height: 200px;
    border-radius: 10px;

    img {
      position: absolute;
      width: 80%;
      height: 80%;
    }

    .name {
      @include showBorder(white);
      width: max-content;
      height: max-content;
      z-index: 5;
      position: relative;
      top: 50px;
    }
  }
}

.eth-number_container {
  border: 2px solid white;
  @include flex(center, center);
  width: 40%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 385px;

  span {
    color: white;
    background-color: black;
    width: 70%;
    text-align: center;
    @include flex;
    height: 100%;
  }
  .eth-logo {
    width: 30%;
    height: 100%;
    @include flex;
    border-right: 2px solid white;
    // @include showBorder;
  }
}
