@import "./config/config.scss";

.App {
  position: relative;
  z-index: 1;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% 1080px;
  width: 100%;
  transition: all 1.5s ease-in-out;

  @include respondMax(lg-tablet) {
    width: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% 800px;
    transition: all 1.5s ease-in-out;
  }

  @include respondMax(mobile) {
    width: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% 830px;
    transition: all 1.5s ease-in-out;
  }
}

.starone {
  position: absolute;
  top: 750px;
  left: 100px;
}
.startwo {
  position: absolute;
  left: 420px;
  top: 450px;
}
.starthree {
  position: absolute;
  right: 100px;
}

.starfour {
  position: absolute;
  right: 100px;
  top: 900px;
  right: 500px;
}
