@import "./config/config.scss";

.App {
  // position: relative;
  z-index: 1;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% 1080px;
  width: 100%;
  transition: all 1.5s ease-in-out;

  @include respondMax(lg-tablet) {
    width: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: auto;
  }
}
