@import "./config/config.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: $color-page-basic;
  width: 100vw;

  @include respondMax(mobile) {
    width: 100%;
  }
}
