@import "../../styles/config/config.scss";

header {
  @include showBorder($color: black);
  @include flex($justify: space-around);
  height: 70px;
  width: 100vw;
  // background-color: purple;
  // color: white;

  ul {
    @include flex($justify: space-around);
    @include showBorder($color: black);
    padding: 5px;
    list-style: none;
  }

  button {
    border: 1px solid black;
    width: 180px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  }
}
.logo {
  border: 1px solid black;
  width: 140px;
  @include flex($justify: space-around);

  img {
    width: 50px;
    height: 50px;
  }
}

.site_links {
  width: 450px;
  font-family: "Monda";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 39px;
  a {
    text-decoration: none;
  }
}

.sm_links {
  width: 200px;
}
