@import "styles/config/config.scss";

header {
  // @include showBorder($color: white);
  @include flex($justify: space-around);
  height: 70px;
  width: 95%;
  height: 150px;
  box-sizing: border-box;
  margin: auto;
  transition: all 1.5s ease-in-out;

  @include respondMax(lg-tablet) {
    width: 100%;
    height: 70px;
  }

  @include respondMax(mobile) {
    width: 100%;
    height: 70px;
  }

  .navs {
    // @include showBorder($color: white);
    @include flex($justify: space-around);
    border-radius: 20px;
    height: 70px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin: auto;
    background-blend-mode: overlay;

    @include respondMax(lg-tablet) {
      width: 90%;
      height: 55px;
    }

    @include respondMax(mobile) {
      width: 90%;
      height: 55px;
    }
  }

  ul {
    @include flex($justify: space-around);
    padding: 5px;
    list-style: none;
    box-sizing: border-box;
  }

  //connect wallet button
  .connect-btn {
    border: 1px solid transparent;
    background: #575757;
    color: white;
    width: 13%;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;

    @include respondMax(lg-tablet) {
      width: 13%;
      height: 30px;
      font-size: 11px;
      border-radius: 4px;
    }

    @include respondMax(mobile) {
      width: 95px;
      height: 30px;
      font-size: 11px;
      border-radius: 4px;
    }
  }
}

//logo
.logo {
  width: 13%;
  @include flex($justify: space-around);
  cursor: pointer;

  @include respondMax(lg-tablet) {
    width: auto;
  }

  @include respondMax(mobile) {
    width: auto;
  }

  img {
    width: 40px;
    height: 40px;

    @include respondMax(lg-tablet) {
      width: 30px;
      height: 27px;
    }
  }

  div {
    font-weight: 700;
    font-size: 20px;

    @include respondMax(lg-tablet) {
      display: none;
    }
    span:first-of-type {
      color: $color-logo-one;
    }
    span:nth-of-type(2) {
      color: $color-logo-two;
    }
  }
}
//in-site navigation links
.site_links {
  width: 35%;
  line-height: 39px;

  @include respondMax(lg-tablet) {
    @include flex($justify: space-around);
    width: 50%;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: "Monda";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    font-family: "Monda", sans-serif;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    .icon {
      width: 100%;
      height: 100%;
    }

    &:hover {
      text-decoration: underline;
    }

    @include respondMax(mobile) {
      font-family: "Monda";
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
    }
  }
}

//social media links
.sm_links {
  width: 15%;

  @include respondMax(lg-tablet) {
    display: none;
  }
  a {
    // display: block;
    width: 30px;
    height: 30px;
    font-size: 1em;
    @include flex();
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}
