@import "../../styles/config/config.scss";

.edit-card {
  // @include showBorder();
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 2em;
}

.edit-header {
  // @include showBorder(black);
  @include flex(center, center, column);
  width: 100%;
  margin: 2em auto 0;

  .box-1 {
    @include showBorder(transparent);
    width: 90%;
    height: 65px;
    border-radius: 50px 50px 0px 0px;
    background: radial-gradient(
      72.09% 29911.43% at 23.6% 49.23%,
      rgba(17, 0, 216, 0.83) 0%,
      rgba(150, 0, 0, 0.908802) 26.99%,
      #a2004b 57.28%,
      #b200b6 100%
    );
  }

  .box-2 {
    @include showBorder(transparent);
    @include flex(center, center, row);
    width: 90%;
    height: 118px;
    border-radius: 0px 0px 50px 50px;
    background: #211b1b;

    span {
      font-family: "Noto Serif Thai";
      font-style: normal;
      font-weight: 700;
      font-size: 2em;
      letter-spacing: -0.01em;
      text-align: center;
      color: #ffffff;
    }
  }
}
