@import "styles/config/config.scss";

.edit-card {
  // @include showBorder();
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 4em;
  position: relative;
}

.edit-card-modal_container {
  // @include showBorder;
  @include flex();
  width: 801px;
  height: 408px;
  margin: 2.5em auto 0;
  border: 2px solid white;
  border-radius: 18px;
  position: relative;
  box-sizing: border-box;

  &.blur {
    filter: blur(3px);
  }

  @include respondMax(mobile) {
    @include flex();
    width: 90%;
    height: 390px;
    border: 2px solid white;
    border-radius: 10px;
  }
}

.add-details_container {
  @include flex(center, space-around, column);
  width: 180px;
  height: 280px;
  border-radius: 40px;
  background-color: transparent;
  position: absolute;
  top: 90px;

  @include respondMax(mobile) {
    @include flex(center, space-around, column);
    width: 165px;
    height: 245px;
    border-radius: 40px;
    top: 90px;
  }

  .add-user-image_btn {
    @include flex(center, center, row);
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: gray;
    color: #000000;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    @include respondMax(mobile) {
      @include flex(center, center, row);
      width: 20px;
      height: 20px;
      font-size: 20px;
      top: 3px;
      left: 20px;
    }
  }

  .choose_image {
    position: absolute;
    top: 20px;
    right: -200px;
    display: none;
  }

  .add-user-name_btn {
    position: absolute;
    @include flex();
    @include showBorder(white);
    background-color: black;
    color: white;
    border-width: 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: inherit;
    color: #000000;
    font-size: 10px;
    font-weight: 800px;
    cursor: pointer;
    position: absolute;
    top: 130px;
    right: 35px;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    @include respondMax(mobile) {
      top: 105px;
      right: 30px;
    }

    .icon {
      width: 12px;
      height: 12px;
    }
  }

  .add-name_modal {
    @include flex(center, space-around);
    border: 2px solid transparent;
    position: absolute;
    top: 30px;
    width: 200px;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;

    @include respondMax(mobile) {
      width: 150px;
      height: 80px;
    }

    &.open {
      opacity: 1;
      visibility: visible;
      transform: scale(1.3);
      backdrop-filter: blur(5px);

      .content {
        transform: scale(1);
      }
    }

    .content {
      @include flex(center, space-around);
      position: relative;
      width: 100%;
      height: 100%;
      // background-color: white;
      border-radius: 10px;
      transform: scale(0);
      transition: transform 300ms cubic-bezier(0.57, 0.21, 0.69, 1.25);
    }

    input {
      @include showBorder;
      width: 80%;
      height: 50px;
      border-radius: 10px;
      outline: none;
      padding: 5px;

      @include respondMax(mobile) {
        width: 70%;
        height: 30px;
        font-size: 14px;
      }
    }

    button {
      border: 1px solid transparent;
      width: 50%;
      height: 30px;
      border-radius: 10px;
      text-align: center;
      font-size: 90%;
      font-weight: 800;
      color: black;
      cursor: pointer;

      @include respondMax(mobile) {
        width: 40%;
        height: 20px;
        font-size: 12px;
      }
    }
  }

  .card-color_options {
    @include flex;
    width: max-content;
    @include flex(center, space-around);
    position: absolute;
    top: 158px;

    @include respondMax(mobile) {
      top: 145px;
    }

    .color {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      margin: 0 2px;

      @include respondMax(mobile) {
        width: 16px;
        height: 16px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .active-color {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      transform: scale(1.5);
    }
  }

  .eth-counts {
    // @include showBorder(white);
    @include flex(center, space-around);
    width: 60%;
    position: absolute;
    top: 200px;

    @include respondMax(mobile) {
      width: 50%;
      top: 175px;
    }

    .eth-count_btns {
      // @include showBorder;
      @include flex(center, space-around);
      width: 100%;
      color: white;
      font-size: 12px;
      padding: 2px;
      box-sizing: border-box;
      cursor: pointer;

      @include respondMax(mobile) {
        font-size: 10px;
        padding: 0;
      }

      button {
        border: none;
        height: max-content;
        background: inherit;
        color: white;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}

.done-btn {
  position: absolute;
  width: 140px;
  height: 60px;
  right: 20px;
  bottom: 20px;
  background: #1964f6;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  cursor: pointer;

  @include respondMax(mobile) {
    width: 70px;
    height: 30px;
    border-radius: 6px;
    font-size: 0.7em;
    right: 5px;
    bottom: 5px;
  }
}

.edit-eth_modal {
  @include flex(center, space-around);
  border: 2px solid transparent;
  position: absolute;
  top: 250px;
  width: 150px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;

  @include respondMax(mobile) {
    top: 220px;
    width: 100px;
    height: 50px;
  }

  &.open {
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
    backdrop-filter: blur(5px);

    .content {
      transform: scale(1);
    }
  }

  .content {
    @include flex(center, space-around);
    position: relative;
    width: 100%;
    height: 100%;
    // background-color: white;
    border-radius: 10px;
    // transform: scale(0);
    transition: transform 300ms cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }

  input {
    @include showBorder;
    width: 80px;
    height: 40%;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
  }

  button {
    border: 1px solid transparent;
    width: 40px;
    height: 30%;
    border-radius: 10px;
    text-align: center;
    font-size: 70%;
    font-weight: 700;
    color: white;
    cursor: pointer;
  }
}
